[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
piperider = {extras = ["bigquery"], version = "*"}
dbt-core = "*"
dbt-bigquery = "*"
sqlalchemy = "*"
pybigquery = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
